
# Python
__pycache__/
*.pyc

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
terraform.tfvars
.terraform.lock.hcl

# Node / misc
node_modules/
dist/
*.log

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
